<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260671669952-mioskr5h84m88bhpsdl4tmk5ortmuht5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260671669952-mioskr5h84m88bhpsdl4tmk5ortmuht5</string>
	<key>API_KEY</key>
	<string>AIzaSyDa6Q5ft5Fb3FKryaWKNV9z2bVrEWUNn6E</string>
	<key>GCM_SENDER_ID</key>
	<string>260671669952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trail2</string>
	<key>PROJECT_ID</key>
	<string>stepup-a0ed7</string>
	<key>STORAGE_BUCKET</key>
	<string>stepup-a0ed7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260671669952:ios:9b70e042330b24ca954f25</string>
</dict>
</plist>